@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E5E5E5;
}

.container {
    width: 375px;
    margin: 0 auto;
    margin-top: 100px; 
}

header {
    background-color: #1B83E2;
    height: 66px;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top:22px;

}

main {
    background: #E5E5E5;
    padding: 24px;

}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none; /* Para tirar a cor de seleção que aparece na borda da tag, quando selecionada */
    appearance: none; /* Para tirar a seta que fica no canto direito da tag.*/
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 18px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

button {
    width: 100%;
    height: 48px;
    background: #1B83E2;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 36px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}